# Windows image file caches
Thumbs.db
ehthumbs.db


# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# General ignore files

.idea/
.idea/workspace.xml
.sencha/
ext/
build/
#fonts/
sass/
testing/
desktop/
build.xml
bootstrap.json
bootstrap.js
#bootstrap.css
#app.json
#gantt/
packages/
#app.js
_archive
package.json
ext_4_1/
gantt-pro-3.0.12.zip
gantt-pro-3.0.12/
bryntum_access.txt
req.js
ULA-201609261104.josh